<!DOCTYPE html>
<html lang="en" data-wf-page="5a655cd943f71000016c0ecd" data-wf-site="5a611d0f3b54170001d1f7ad">
  <head>
    <title>Piccolo Labs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <meta content="Contact Us" property="og:title">
    <meta content="summary" name="twitter:card">
    <meta name="wf-page" content="5a655cd943f71000016c0ecd" />
    <meta name="wf-site" content="5a611d0f3b54170001d1f7ad" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='yc/css/normalize.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='yc/css/webflow.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='yc/css/piccololabs.css') }}">
    <link href="{{ url_for('static', filename='yc/images/favicon.png') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='yc/images/webclip.png') }}" rel="apple-touch-icon">
  </head>
  <body class="body">
    
      <div class="wrapper w-container thoughts" spacing="none large">
        <br>
          <article>
            <header>
              <h1 class="blog_title" spacing="none small">A Small Reveal</h1>
              <p class="blog_name_date" type="lead" spacing="none medium">Rony Abovitz | 
                <!-- -->December 20th, 2017
              </p>
            </header>
            <div>
              <p>
                I am so excited to share with all of you a first look at <b>Magic Leap One™</b>, <b>Creator Edition</b>.              
                We will be shipping in 2018, so stay tuned for more events, info on how to buy, the opening of our creator/developer portal, and just more cool and fun stuff.
                In early 2018, please also look for "Origins" - a bit of a fun backstory on how we got here and where we are going.
                The Magic Leap team and I look forward to co-creating the future with you.
                Have a great holiday   :-)
              </p>
            </div>              
          </article>

          <article>
            <header>
              <h1 class="blog_title" spacing="none small">A Small Reveal</h1>
              <p class="blog_name_date" type="lead" spacing="none medium">Rony Abovitz | 
                <!-- -->December 20th, 2017
              </p>
            </header>
            <div>
              <p>
                I am so excited to share with all of you a first look at <b>Magic Leap One™</b>, <b>Creator Edition</b>.              
                We will be shipping in 2018, so stay tuned for more events, info on how to buy, the opening of our creator/developer portal, and just more cool and fun stuff.
                In early 2018, please also look for "Origins" - a bit of a fun backstory on how we got here and where we are going.
                The Magic Leap team and I look forward to co-creating the future with you.
                Have a great holiday   :-)
              </p>
            </div>              
          </article>
            
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='yc/js/yc_home.js') }}" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  </body>
</html>